<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        .firscontent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            width: 100%;
            margin-bottom: 30px;
            align-items: flex-start;
        }

        .class1 {
            display: flex;
            flex-direction: column;
            width: 75%;
            margin-right: 20px;
            font-size-adjust: .7;
        }

        .class2 {
            margin-right: 30px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            width: 25%;
            aspect-ratio: 1;
        }

        .imageofuser {
            max-width: 200px;
            min-width: 0px;
            aspect-ratio: 1;
        }

        #printOnly {
            display: none;
        }

        #bank,
        #prop,
        #invest,
        #ppf,
        #vehicle,
        #insurance,
        #gifts,
        #wishes,
        #charity {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            min-width: 370px;
            flex: 1;
        }

        @media print {
            #printOnly {
                display: block;

                @page {
                    size: A4;
                    margin: 0;
                }
            }

            body {
                margin: 0;
                line-height:0.5cm;
            }
        

        .pagebreak {
            page-break-before: always;
        }

        footer .left {
            float: left;
            font-size: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
            
            margin-top: 20px;
            height: 15px;
        }

        footer .right {
            float: right;
            font-size: 8px;
            position: fixed;
            bottom: 0;
          
            right: 0;
            margin-top: 20px;
            height: 15px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 20px;
            height: 15px;
        }
    }

        .main {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .parent {
            background-color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 2.5%;
            max-width: 570px;
            min-width: 0px;
            justify-content: space-around;
        }

        .fclass {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 100%;
            min-width: 0px;
            padding-top: 20px;
        }

        table {
            margin-right: 10px;
        }

        p,
        h1,
        .info {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            min-width: 0%;
        }

        .fcontainer1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            min-width: 0%;
        }

        .f1item1,
        .f1item2,
        .f1item3,
        .f1item4 {
            display: flex;
            max-width: 100%;
            min-width: 0%;
        }

        .bluetext {
            color: #0078d7;
        }

        #bt1 {
            margin-top: 7px;
        }

        .fcontainer2 {
            display: flex;
            flex-direction: row;
            border: 2px solid black;
            margin-top: 10px;
            margin-right: 40px;
            height: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            min-width: 0%;
        }

        .f2item1 {
            margin-left: 3.5%;
            max-width: 100%;
            min-width: 0%;
        }

        .f2item2 {
            width: 45%;
            max-width: 100%;
            min-width: 0%;
        }

        .greytext {
            color: grey;
        }

        .fcontainer3 {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            max-width: 100%;
            min-width: 0%;
        }

        .f3item1,
        .f3item2 {
            display: flex;
            max-width: 100%;
            min-width: 0%;
        }

        .greentext {
            color: green;
        }

        .fcontainer4 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            transition: all .2s linear;
        }

        .f4item1 {
            display: flex;
            flex-direction: column;
            border: 2px solid rgb(0, 0, 0);
            flex: 1 1 250px;
            margin-right: 20px;
        }

        .f4item2 {
            display: flex;
            flex-direction: column;
            border: 2px solid rgb(0, 0, 0);
            flex: 1 1 250px;
            margin-right: 20px;
        }

        .fcontainer5 {
            display: flex;
            flex-direction: column;
        }

        .f5item1,
        .f5item2 {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }

        .fclass6 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            transition: all .2s linear;
        }

        .fcontainer7,
        .fcontainer9 {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            margin-right: 20px;
            height: 250px;
            flex: 1 1 250px;
        }

        .f7class1 {
            display: flex;
            flex-direction: column;
            flex: 1 1 250px;
            height: 180px;
        }

        .f7class2 {
            display: flex;
            flex-direction: column;
            flex: 1 1 250px;
            height: 70px;
        }

        .f7item1,
        .f7item2,
        .f7item3,
        .f7item4,
        .f7item5,
        .f7item6 {
            display: flex;
            max-width: 100%;
            min-width: 0%;
        }

        .fcontainer8 {
            margin-top: 15px;
            margin-right: 20px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 90px;
        }

        .f8item1 {
            display: flex;
            padding: 10px;
            width: 25%;
            aspect-ratio: 1;
            border: 1px solid black;
        }

        .f8item2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 10px 15px 10px;
            border: 2px solid black;
            font-size: 9px;
            margin-right: 20px;
            width: 75%;
        }

        /* Existing CSS code */

        /* ... */

        .fcontainer10 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;
            margin-right: 20px;
        }


        /* Existing CSS code */

        /* ... */

        .fcontainer10 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 15px;
            margin-right: 20px;
        }

        .f10item1 {
            display: flex;
            border: 2px solid black;
            width: 100%;
            margin-top: 45px;
        }

        .witness-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .witness-box {
            width: 200px;
            height: 100px;
            border: 2px solid black;
            margin-bottom: 10px;
        }

        .witness-details {
            text-align: center;
        }
    </style>





</head>

<body>

    <img. src="" alt="wasiyat" width="100" height="100">

        <div class="main">




            <div class="parent">




                <div class="fclass">

                    <div class="firscontent">
                        <div class="class1">
                            <div class="item1">
                                <h2><b>The Will and Testament of</b></h2>
                            </div>
                            <div class="item2 greentext">
                                <%=details.name%>
                            </div>
                            <div class="item3 greentext">
                                <%=details.passport%>
                            </div>
                        </div>
                        <div class="class2">
                            <!-- <div class="item4"> -->
                            <img src="<%=details.pic%>" alt="fgdbr" class="imageofuser">
                            <!-- </div> -->
                        </div>
                    </div>

                    <p>This Will is made by me (<%=details.name%> & <%=details.passport%>) currently residing in
                                <%=details.residance%> and my nationality is <%=details.nationality%>. I’m of full age
                                        and capacity
                                        and being of sound mind hereby declare that I make this Will voluntarily and
                                        without any
                                        duress and or undue influence for my assets in <%=details.assetcountry%>.</p>

                    <h1>1. REVOCATION</h1>




                    <div class="info">

                        <p>I have not made any Will or other testamentary document in <%=details.assetcountry%>, but if
                                any is made, I
                                hereby revoke all previous Wills and Codicils, if any, and declare this to be my Last
                                Will and Testament.

                        </p>




                        <html lang="en">

                        <head>

                            <meta charset="UTF-8">

                            <meta name="viewport" content="width=device-width, initial-scale=1.0">




                            <style>
                                table {

                                    width: 100%;

                                    border-collapse: collapse;

                                }

                                table {
                                    page-break-inside: auto
                                }

                                tr {
                                    page-break-inside: avoid;
                                    page-break-after: auto
                                }

                                td {
                                    page-break-inside: avoid;
                                    page-break-after: auto
                                }

                                thead {
                                    display: table-header-group
                                }

                                tfoot {
                                    display: table-footer-group
                                }




                                table,
                                th,
                                td {

                                    border: 1px solid black;

                                    padding: 10px;

                                }

                                th {

                                    background-color: #f2f2f2;

                                    text-align: left;

                                }
                            </style>

                        </head>
                        <div>
                            <h1>2. EXECUTORS AND TRUSTEES




                            </h1>

                            <p>I, hereby appoint as my sole Executor and Trustee of this my Will

                            </p>

                            <table>

                                <thead>

                                    <tr>

                                        <th>Name</th>

                                        <th>Relationship to testator</th>

                                        <th>ID/ Passport</th>

                                        <th>Contact no & email</th>

                                        <th>Address if any provided</th>

                                    </tr>

                                </thead>

                                <tbody id="executor">

                                    <td>
                                        <%=exe.executor1.name%>
                                    </td>
                                    <td>
                                        <%=exe.executor1.relation%>
                                    </td>
                                    <td>
                                        <%=exe.executor1.passport%>
                                    </td>
                                    <td>
                                        <%=exe.executor1.contactno%>,<%=exe.executor1.email%>
                                    </td>
                                    <td></td>

                                </tbody>

                            </table>

                            <p>

                                In case (Full Name from executor1 field) is deceased, not available & unwilling to
                                perform
                                the duties of an executor, then I appoint

                            </p>

                            <table>

                                <thead>

                                    <tr>

                                        <th>Name</th>

                                        <th>Relationship to testator</th>

                                        <th>ID/ Passport</th>

                                        <th>Contact no & email</th>

                                        <th>Address if any provided</th>

                                    </tr>

                                </thead>

                                <tbody id="executor">

                                    <td>
                                        <%=exe.executor2.name%>
                                    </td>
                                    <td>
                                        <%=exe.executor2.relation%>
                                    </td>
                                    <td>
                                        <%=exe.executor2.passport%>
                                    </td>
                                    <td>
                                        <%=exe.executor2.contactno%>,<%=exe.executor2.email%>
                                    </td>
                                    <td></td>

                                </tbody>

                            </table>

                            <h1>3. FUNERAL EXPENSES AND DEBTS

                            </h1>

                            <p>3.1 I direct the Executor to pay all my lawful debts, funeral and testamentary expenses
                                out
                                of my estate as possible after my death.

                            </p>

                            <p>3.2 The Executor shall have the power to sell and convert any assets into cash to pay all
                                debts (if any).

                            </p>




                            <h1>4. ASSETS in <%=details.assetcountry%>

                            </h1>
                        </div>
                        <div id="yy" style="display:none">
                            <%=bank.name%>
                        </div>
                        <div id="zz" style="display:none">
                            <%=bank.bene%>
                        </div>
                        <div id="bankshare" style="display:none">
                            <%=bank.share%>
                        </div>
                        <div id="bankcontact" style="display:none">
                            <%=bank.contact%>
                        </div>
                        <div id="bankcount" style="display:none">
                            <%=bank.count%>
                        </div>
                        <div id="bankno" style="display:none">
                            <%=bank.no%>
                        </div>
                        <div id="bankbranch" style="display:none">
                            <%=bank.branch%>
                        </div>
                        <div id="bank"></div>

                        <div id="propaddress" style="display:none">
                            <%=property.address%>
                        </div>
                        <div id="propbene" style="display:none">
                            <%=property.bene%>
                        </div>
                        <div id="propshare" style="display:none">
                            <%=property.share%>
                        </div>
                        <div id="propcontact" style="display:none">
                            <%=property.contact%>
                        </div>
                        <div id="propcount" style="display:none">
                            <%=property.count%>
                        </div>
                        <div id="proptype" style="display:none">
                            <%=property.type%>
                        </div>
                        <div id="propstatus" style="display:none">
                            <%=property.status%>
                        </div>

                        <div id="prop"></div>


                        <div id="investwith" style="display:none">
                            <%=invest.with%>
                        </div>
                        <div id="investbene" style="display:none">
                            <%=invest.bene%>
                        </div>
                        <div id="investshare" style="display:none">
                            <%=invest.share%>
                        </div>
                        <div id="investcontact" style="display:none">
                            <%=invest.contact%>
                        </div>
                        <div id="investcount" style="display:none">
                            <%=invest.count%>
                        </div>
                        <div id="investtype" style="display:none">
                            <%=invest.type%>
                        </div>
                        <div id="investno" style="display:none">
                            <%=invest.no%>
                        </div>


                        <div id="invest"></div>

                        <div id="ppfname" style="display:none">
                            <%=ppf.name%>
                        </div>
                        <div id="ppfbene" style="display:none">
                            <%=ppf.bene%>
                        </div>
                        <div id="ppfshare" style="display:none">
                            <%=ppf.share%>
                        </div>
                        <div id="ppfcontact" style="display:none">
                            <%=ppf.contact%>
                        </div>
                        <div id="ppfcount" style="display:none">
                            <%=ppf.count%>
                        </div>
                        <div id="ppfno" style="display:none">
                            <%=ppf.no%>
                        </div>

                        <div id="ppf"></div>

                        <div id="vehname" style="display:none">
                            <%=vehicle.name%>
                        </div>
                        <div id="vehbene" style="display:none">
                            <%=vehicle.bene%>
                        </div>
                        <div id="vehshare" style="display:none">
                            <%=vehicle.share%>
                        </div>
                        <div id="vehcontact" style="display:none">
                            <%=vehicle.contact%>
                        </div>
                        <div id="vehcount" style="display:none">
                            <%=vehicle.count%>
                        </div>
                        <div id="vehno" style="display:none">
                            <%=vehicle.no%>
                        </div>
                        <div id="vehstatus" style="display:none">
                                <%=vehicle.status%>
                            
                        </div>
                        <div id="vehicle"></div>

                        <div id="insname" style="display:none">
                            <%=ins.name%>
                        </div>
                        <div id="insbene" style="display:none">
                            <%=ins.bene%>
                        </div>
                        <div id="insshare" style="display:none">
                            <%=ins.share%>
                        </div>
                        <div id="inscontact" style="display:none">
                            <%=ins.contact%>
                        </div>
                        <div id="inscount" style="display:none">
                            <%=ins.count%>
                        </div>
                        <div id="insno" style="display:none">
                            <%=ins.no%>
                        </div>
                        <div id="instype" style="display:none">
                                <%=ins.type%>
                            
                        </div>

                        <div id="insurance"></div>

                        <div id="giftitem" style="display:none">
                            <%=gift.item%>
                        </div>
                        <div id="giftbene" style="display:none">
                            <%=gift.bene%>
                        </div>
                        <div id="giftcontact" style="display:none">
                            <%=gift.contact%>
                        </div>

                        <div id="gifts"></div>
                        <div id="wishabout" style="display:none">
                            <%=wish.wish%></div>

                        <div id="wishes"></div>
                        <div id="charityabout" style="display:none">
                            <%=charity.charity%></div>

                        <div id="charity"></div>
                        <div id="guard1name" style="display:none">
                            <%=guard.guard1.name%>
                        </div>
                        <div id="guard1relation" style="display:none">
                            <%=guard.guard1.relation%>
                        </div>
                        <div id="guard1no" style="display:none">
                            <%=guard.guard1.contactno%>
                        </div>
                        <div id="guard1email" style="display:none">
                            <%=guard.guard1.email%>
                        </div>
                        <div id="guard1address" style="display:none">
                            <%=guard.guard1.address%>
                        </div>
                        <div id="guard1passport" style="display:none">
                            <%=guard.guard1.passport%>
                        </div>
                        

                        <div id="guard1"></div>
                        <div id="guard2name" style="display:none">
                            <%=guard.guard2.name%>
                        </div>
                        <div id="guard2relation" style="display:none">
                            <%=guard.guard2.relation%>
                        </div>
                        <div id="guard2no" style="display:none">
                            <%=guard.guard2.contactno%>
                        </div>
                        <div id="guard2email" style="display:none">
                            <%=guard.guard2.email%>
                        </div>
                        <div id="guard2address" style="display:none">
                            <%=guard.guard2.address%>
                        </div>
                        <div id="guard2passport" style="display:none">
                            <%=guard.guard2.passport%>
                        </div>
                        

                        <div id="guard2"></div>



                        <div class="page-break"></div>

                        <script>
                            var num=1;
                            var bankname = document.getElementById("yy").innerHTML.split(',');
                            var bankno = document.getElementById("bankno").innerHTML.split(',');
                            var bankbranch = document.getElementById("bankbranch").innerHTML.split(',');
                            var bankbene = document.getElementById("zz").innerHTML.split(',');
                            var bankcount = document.getElementById("bankcount").innerHTML.split(',');
                            var bankshare = document.getElementById("bankshare").innerHTML.split(',');
                            var bankcontact = document.getElementById("bankcontact").innerHTML.split(',');

                            if (bankname.length > 0 && document.getElementById("yy").innerHTML.trim()!=="") {
                                //num=num+1;
                                var xyz = document.getElementById("bank");

                                xyz.innerHTML += `<p>This is how I want the distribution of my bank accounts to be executed ABSOLUTELY -
   
   </p><h2>4.${num} BANK ACCOUNTS</h2>`;


                                var bankflag = 0;
                                for (var j = 0; j < bankname.length; j++) {

                                    var table = document.createElement("table");

                                    table.id = "tb" + (j + 1);

                                    xyz.appendChild(table);




                                    //    var bankbene = y[j].split(",");

                                    //    var bankamnt =bankshare[i].split(",");


                                    //    var bankcontact = bankcontct[i].split(",");





                                    if (bankcount[j] > 0) {

                                        addbank(table, bankflag, j, bankbene, bankshare, bankcontact);

                                    }

                                    if (j < 2) {

                                        var lineBreak = document.createElement("br");

                                        xyz.appendChild(lineBreak);

                                        xyz.appendChild(lineBreak.cloneNode(true));

                                    }
                                    bankflag = bankflag + parseInt(bankcount[j]);

                                }




                                function addbank(table, flag, j, data1, data2, data3) {

                                    var newRowHTML = `<tr>
   
             <td colspan="3">
   
               <p>Bank Name:${bankname[j]}</p>
   
               <p>Branch Code/IFSC Code:${bankbranch[j]}</p>
   
               <p>Account No:${bankno[j]}</p>
   
             </td>
   
           </tr>
   
           <tr>
   
             <th>Beneficiary</th>
   
             <th>Amount in %</th>
   
             <th>Contact if provided by user</th>
   
           </tr>`;




                                    for (var i = flag; i < flag + parseInt(bankcount[j]); i++) {



                                        newRowHTML += `<tr>
   
                 <td>${data1[i]}</td>
   
                 <td>${data2[i]}</td>
   
                 <td>${data3[i]}</td>
   
               </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }

                            /*PROPERTIES*/
                            
                            

                            var propaddress = document.getElementById("propaddress").innerHTML.split(',');
                            var propstatus = document.getElementById("propstatus").innerHTML.split(',');
                            var proptype = document.getElementById("proptype").innerHTML.split(',');
                            var propbene = document.getElementById("propbene").innerHTML.split(',');
                            var propcount = document.getElementById("propcount").innerHTML.split(',');
                            var propshare = document.getElementById("propshare").innerHTML.split(',');
                            var propcontact = document.getElementById("propcontact").innerHTML.split(',');

                            if (propaddress.length > 0 && document.getElementById("propaddress").innerHTML.trim()!=="") {
                                
                                var xyz = document.getElementById("prop");

                                xyz.innerHTML += `<p>This is how I want the distribution of my properties to be executed ABSOLUTELY -

</p><h2>4.${num} PROPERTIES</h2>`;


                                var propflag = 0;

                                for (var j = 0; j < propaddress.length; j++) {

                                    var table = document.createElement("table");

                                    table.id = "tb" + (j + 1);

                                    xyz.appendChild(table);


                                    // var propbene = ["a"];

                                    // var propamnt = ["a"];

                                    // var propcontact = ["a"];



                                    addprop(table, propflag, j, propbene, propshare, propcontact);



                                    if (j < 2) {

                                        var lineBreak = document.createElement("br");

                                        xyz.appendChild(lineBreak);

                                        xyz.appendChild(lineBreak.cloneNode(true));

                                    }
                                    propflag = propflag + parseInt(propcount[j]);

                                }




                                function addprop(table, flag, j, data1, data2, data3) {

                                    var newRowHTML = `<tr>

          <td colspan="3">

            <p>Property Address:${propaddress[j]}</p>

            <p>Type:${proptype[j]}</p>

            <p>Ownership status / Loan-Debt status / Loan provider:${propstatus[j]}

</p>

          </td>

        </tr>

        <tr>

          <th>Beneficiary</th>

          <th>Amount in %</th>

          <th>Contact if provided by user</th>

        </tr>`;




                                    for (var i = flag; i < flag + parseInt(propcount[j]); i++) {



                                        newRowHTML += `<tr>

              <td>${data1[i]}</td>

              <td>${data2[i]}</td>

              <td>${data3[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;

                            }

                            /*INVESTMENTS*/

                            var investwith = document.getElementById("investwith").innerHTML.split(',');
                            var investno = document.getElementById("investno").innerHTML.split(',');
                            var investtype = document.getElementById("investtype").innerHTML.split(',');
                            var investbene = document.getElementById("investbene").innerHTML.split(',');
                            var investcount = document.getElementById("investcount").innerHTML.split(',');
                            var investshare = document.getElementById("investshare").innerHTML.split(',');
                            var investcontact = document.getElementById("investcontact").innerHTML.split(',');


                            if (investwith.length > 0 && document.getElementById("investwith").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("invest");

                                xyz.innerHTML += `<p>This is how I want the distribution of my investments accounts to be executed ABSOLUTELY -

</p><h2>4.${num} INVESTMENTS</h2>`;



                                var investflag = 0;
                                for (var j = 0; j < investwith.length; j++) {

                                    var table = document.createElement("table");

                                    table.id = "tb" + (j + 1);

                                    xyz.appendChild(table);




                                    // var investbene = ["a"];

                                    // var investamnt = ["a"];

                                    // var investcontact = ["a"];


                                    addinvest(table, investflag, j, investbene, investshare, investcontact);



                                    if (j < 2) {

                                        var lineBreak = document.createElement("br");

                                        xyz.appendChild(lineBreak);

                                        xyz.appendChild(lineBreak.cloneNode(true));

                                    }
                                    investflag = investflag + parseInt(investcount[j]);

                                }




                                function addinvest(table, flag, j, data1, data2, data3) {

                                    var newRowHTML = `<tr>

          <td colspan="3">

            <p>Investment type:${investtype[j]}</p>

            <p>Invested with (Name of Provider):${investwith[j]}</p>

            <p>Certificate Number/ Account Number/ Wallet ID:${investno[j]}</p>

          </td>

        </tr>

        <tr>

          <th>Beneficiary</th>

          <th>Amount in %</th>

          <th>Contact if provided by user</th>

        </tr>`;




                                    for (var i = flag; i < flag + parseInt(investcount[j]); i++) {



                                        newRowHTML += `<tr>

              <td>${data1[i]}</td>

              <td>${data2[i]}</td>

              <td>${data3[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }

                            /*ppf*/

                            var ppfname = document.getElementById("ppfname").innerHTML.split(',');
                            var ppfno = document.getElementById("ppfno").innerHTML.split(',');
                            var ppfbene = document.getElementById("ppfbene").innerHTML.split(',');
                            var ppfcount = document.getElementById("ppfcount").innerHTML.split(',');
                            var ppfshare = document.getElementById("ppfshare").innerHTML.split(',');
                            var ppfcontact = document.getElementById("ppfcontact").innerHTML.split(',');



                            if (ppfname.length > 0 && document.getElementById("ppfname").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("ppf");

                                xyz.innerHTML += `<p>This is how I want the distribution of my provident fund accounts to be executed ABSOLUTELY -

</p><h2>4.${num} PROVIDENT FUND</h2>`;

                                var ppfflag=0;
                                for (var j = 0; j < ppfname.length; j++) {

                                var table = document.createElement("table");

                                table.id = "tb" + (j + 1);

                                xyz.appendChild(table);




                                // var ppfbene = ["a"];

                                // var ppfamnt = ["a"];

                                // var ppfcontact = ["a"];




                                

                                    addppf(table,ppfflag,j, ppfbene, ppfshare, ppfcontact);

                                

                                if (j < 2) {

                                    var lineBreak = document.createElement("br");

                                    xyz.appendChild(lineBreak);

                                    xyz.appendChild(lineBreak.cloneNode(true));

                                }

                                ppfflag = ppfflag + parseInt(ppfcount[j]);

                                }




                                function addppf(table,flag,j, data1, data2, data3) {

                                var newRowHTML = `<tr>

                                <td colspan="3">

                                <p>Provider Name:${ppfname[j]}</p>

                                <p>Membership No.:${ppfname[j]}</p>

                                </td>

                                </tr>

                                <tr>

                                <th>Beneficiary</th>

                                <th>Amount in %</th>

                                <th>Contact if provided by user</th>

                                </tr>`;




                                for (var i = flag; i < flag + parseInt(ppfcount[j]); i++) {



                                    newRowHTML += `<tr>

                                <td>${data1[i]}</td>

                                <td>${data2[i]}</td>

                                <td>${data3[i]}</td>

                                </tr>`;



                                }

                                table.innerHTML += newRowHTML;

                                }
                                
                                num=num+1;
                                }





                            /*vehicle*/

                            var vehname = document.getElementById("vehname").innerHTML.split(',');
                            var vehno = document.getElementById("vehno").innerHTML.split(',');
                            var vehstatus = document.getElementById("vehstatus").innerHTML.split(',');
                            var vehbene = document.getElementById("vehbene").innerHTML.split(',');
                            var vehcount = document.getElementById("vehcount").innerHTML.split(',');
                            var vehshare = document.getElementById("vehshare").innerHTML.split(',');
                            var vehcontact = document.getElementById("vehcontact").innerHTML.split(',');

                            if (vehname.length > 0 && document.getElementById("vehname").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("vehicle");

                                xyz.innerHTML += `<p>This is how I want the distribution of my vehicles to be executed ABSOLUTELY -

</p><h2>4.${num} VEHICLE</h2>`;



                                var vehflag=0;
                                for (var j = 0; j < vehname.length; j++) {

                                    var table = document.createElement("table");

                                    table.id = "tb" + (j + 1);

                                    xyz.appendChild(table);




                                    // var vehbene = ["a"];

                                    // var vehamnt = ["a"];

                                    // var vehcontact = ["a"];




                                    

                                        addveh(table,vehflag,j, vehbene, vehshare, vehcontact);

                                    

                                    if (j < 2) {

                                        var lineBreak = document.createElement("br");

                                        xyz.appendChild(lineBreak);

                                        xyz.appendChild(lineBreak.cloneNode(true));

                                    }
                                    vehflag=vehflag + parseInt(vehcount[j])

                                }




                                function addveh(table,flag,j, data1, data2, data3) {

                                    var newRowHTML = `<tr>

          <td colspan="3">

            <p>VEHICLE MAKE  & PLATE:${vehname[j]} ${vehno[j]}</p>

            <p>Ownership status / Loan-Debt status / Loan provider: ${vehstatus[j]}</p>

          </td>

        </tr>

        <tr>

          <th>Beneficiary</th>

          <th>Amount in %</th>

          <th>Contact if provided by user</th>

        </tr>`;




                                    for (var i = flag; i < flag + parseInt(vehcount[j]); i++) {



                                        newRowHTML += `<tr>

              <td>${data1[i]}</td>

              <td>${data2[i]}</td>

              <td>${data3[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }

                            /*INSURANCE*/

                            var insname = document.getElementById("insname").innerHTML.split(',');
                            var insno = document.getElementById("insno").innerHTML.split(',');
                            var instype = document.getElementById("instype").innerHTML.split(',');
                            var insbene = document.getElementById("insbene").innerHTML.split(',');
                            var inscount = document.getElementById("inscount").innerHTML.split(',');
                            var insshare = document.getElementById("insshare").innerHTML.split(',');
                            var inscontact = document.getElementById("inscontact").innerHTML.split(',');

                            if (insname.length > 0 && document.getElementById("insname").innerHTML.trim()!=="" ) {

                                var xyz = document.getElementById("insurance");

                                xyz.innerHTML += `<p>This is how I want the distribution of my insurances to be executed ABSOLUTELY -

</p><h2>4.${num} INSURANCE</h2>`;



                                var insflag=0;
                                for (var j = 0; j < insname.length; j++) {

                                    var table = document.createElement("table");

                                    table.id = "tb" + (j + 1);

                                    xyz.appendChild(table);




                                    // var insbene = ["a"];

                                    // var insamnt = ["a"];

                                    // var inscontact = ["a"];



                                        addinsu(table,insflag,j, insbene, insshare, inscontact);

                                    

                                    if (j < 2) {

                                        var lineBreak = document.createElement("br");

                                        xyz.appendChild(lineBreak);

                                        xyz.appendChild(lineBreak.cloneNode(true));

                                    }
                                    insflag=insflag + parseInt(inscount[j])

                                }




                                function addinsu(table,flag,j, data1, data2, data3) {

                                    var newRowHTML = `<tr>

          <td colspan="3">

            <p>Insurers Name:${insname[j]}</p>

            <p>Type of Policy:${insno[j]}</p>

            <p>Policy No.:${insno[j]}</p>

          </td>

        </tr>

        <tr>

          <th>Beneficiary</th>

          <th>Amount in %</th>

          <th>Contact if provided by user</th>

        </tr>`;




                                    for (var i = flag; i < flag + parseInt(inscount[j]); i++) {



                                        newRowHTML += `<tr>

              <td>${data1[i]}</td>

              <td>${data2[i]}</td>

              <td>${data3[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }

                            /*gifts*/
                            if(num>1){ num=5;}
                            else{num=4;}
                            
                            var giftitem = document.getElementById("giftitem").innerHTML.split(',');
                            var giftbene = document.getElementById("giftbene").innerHTML.split(',');
                            var giftcontact = document.getElementById("giftcontact").innerHTML.split(',');

                            if (giftitem.length > 0 && document.getElementById("giftitem").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("gifts");

                                xyz.innerHTML += `<p>I would like to gift the following items to the beneficiaries below:

</p><h2>${num} GIFTS</h2>`;






                                var table = document.createElement("table");

                                table.id = "tg";

                                xyz.appendChild(table);




                                // var giftsbene = ["a"];

                                // var guftsamnt = ["a"];

                                // var giftscontact = ["a"];


                                    addgift(table, giftitem, giftbene, giftcontact);

                                
                                function addgift(table, data1, data2, data3) {

                                    var newRowHTML = `

        <tr>

          <th>Beneficiary</th>

          <th>Gifted Items</th>

          <th>Contact if provided by user</th>

        </tr>`;




                                    for (var i = 0; i < data1.length; i++) {



                                        newRowHTML += `<tr>

              <td>${data1[i]}</td>

              <td>${data2[i]}</td>

              <td>${data3[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }



                            /*WISHES*/
                            var aboutwish = document.getElementById("wishabout").innerHTML.split(',');

                            if (aboutwish.length > 0 && document.getElementById("wishabout").innerHTML!=="") {

                                var xyz = document.getElementById("wishes");

                                xyz.innerHTML += `<p id = "p1">I would like the following wishes to be fulfilled

</p><h2>${num} WISHES</h2>`;






                                var table = document.createElement("table");

                                table.id = "tg";
                                table.className = "wishrow"

                                xyz.appendChild(table);





                                // var wishamnt = ["a"];




                                if (1 > 0) {

                                    addwish(table, aboutwish);

                                }








                                function addwish(table, data1) {

                                    var newRowHTML = `

        <tr>

          <th class = "column1" >Sr no</th>

          <th class = "column2" >Wishes stated by the user</th>

        </tr>`;




                                    for (var i = 0; i < data1.length; i++) {



                                        newRowHTML += `<tr>

              <td>${i + 1}</td>

              <td>${data1[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }
                                num=num+1;
                            }



                            /*Charity*/
                            var charity = document.getElementById("charityabout").innerHTML.split(',');
                            if (charity.length > 0 && document.getElementById("charityabout").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("charity");

                                xyz.innerHTML += `<p>I would like the following wishes to be fulfilled

</p><h2>${num} CHARITY</h2>`;






                                var table = document.createElement("table");

                                table.id = "tg";

                                xyz.appendChild(table);





                                // var charamnt = ["a"];

                                    addchar(table, charity);

                                








                                function addchar(table, data1) {

                                    var newRowHTML = `

        <tr>

          <th>Sr no</th>

          <th>Wishes stated by the user</th>

        </tr>`;




                                    for (var i = 0; i < data1.length; i++) {



                                        newRowHTML += `<tr>

              <td>${i + 1}</td>

              <td>${data1[i]}</td>

            </tr>`;



                                    }

                                    table.innerHTML += newRowHTML;

                                }

                            }



                            /*Guardian*/
                            var guard1name = document.getElementById("guard1name").innerHTML;
                            var guard1no = document.getElementById("guard1no").innerHTML;
                            var guard1email = document.getElementById("guard1email").innerHTML;
                            var guard1relation = document.getElementById("guard1relation").innerHTML;
                            var guard1address = document.getElementById("guard1address").innerHTML;
                            var guard1passport = document.getElementById("guard1passport").innerHTML;
                       

                            if (guard1name.length > 0 && document.getElementById("guard1name").innerHTML.trim()!=="") {

                                var xyz = document.getElementById("guard1");

                                xyz.innerHTML += `<h2>8 GUARDIANS</h2><p>I, hereby appoint as the sole guardian of my minor children

</p>`;






                                var table = document.createElement("table");

                                table.id = "tg";

                                xyz.appendChild(table);





                                // var guardname1 = ["a"];

                                // var guardrela1 = ["a"];

                                // var guardid1 = ["a"];

                                // var guardcontact1 = ["a"];

                                // var guardaddress1 = ["a"];




                                

                                    addg1(table, guard1name, guard1relation, guard1passport, guard1no, guard1address,guard1email);



                                






                                function addg1(table, data1, data2, data3, data4, data5,data6) {

                                    var newRowHTML = `

        <tr>

          <th>Name</th>

          <th>Relationship to testator</th>

          <th>ID/ Passport</th>

          <th>Contact no & email</th>

          <th>Address if any provided</th>

        </tr>`;




                                        newRowHTML += `<tr>

              <td>${data1}</td>

              <td>${data2}</td>

              <td>${data3}</td>

              <td>${data4}, ${data6}</td>

              <td>${data5}</td>

            </tr>`;



                                    

                                    table.innerHTML += newRowHTML;

                                }

                            var guard2name = document.getElementById("guard2name").innerHTML;
                            var guard2no = document.getElementById("guard2no").innerHTML;
                            var guard2email = document.getElementById("guard2email").innerHTML;
                            var guard2relation = document.getElementById("guard2relation").innerHTML;
                            var guard2address = document.getElementById("guard2address").innerHTML;
                            var guard2passport = document.getElementById("guard2passport").innerHTML;

                                var xyz = document.getElementById("guard2");

                                xyz.innerHTML += `<p>In case ${guard1name}  is deceased, not available & unwilling to perform the duties of a guardian, then I appoint




</p>`;






                                var table = document.createElement("table");

                                table.id = "tg";

                                xyz.appendChild(table);





                                // var guardname2 = ["a"];

                                // var guardrela2 = ["a"];

                                // var guardid2 = ["a"];

                                // var guardcontact2 = ["a"];

                                // var guardaddress2 = ["a"];


                                    addg2(table, guard2name, guard2relation, guard2passport, guard2no, guard2address,guard2email);



                                






                                function addg2(table, data1, data2, data3, data4, data5,data6) {

                                    var newRowHTML = `

        <tr>

          <th>Name</th>

          <th>Relationship to testator</th>

          <th>ID/ Passport</th>

          <th>Contact no & email</th>

          <th>Address if any provided</th>

        </tr>`;




                                   


                                        newRowHTML += `<tr>

              <td>${data1}</td>

              <td>${data2}</td>

              <td>${data3}</td>

              <td>${data4}</td>

              <td>${data5}</td>

            </tr>`;



                                    

                                    table.innerHTML += newRowHTML;

                                }

                            }




                        </script>
                        <div class="pagebreak"> </div>


                    </div>

                    <div class="fcontainer1">
                        <div class="f1item1">
                            <h3>RESIDUARY ESTATE</h3>
                        </div>
                        <div class="f1item2">
                            6.1 I give all my property residual and not mentioned above subject of my funeral and
                            testamentary expenses debts and all
                            estates and other duties payable on or by reason of my death to all my beneficiaries in
                            equal
                            share
                        </div>
                        <div class="f1item3">
                            6.2. Should any of the beneficiaries predecease me, then all his/her share in the immovable
                            or
                            movable properties shall be
                            distributed equally among the surviving beneficiaries.
                        </div>
                        <div class="f1item4">
                            I have made this Will out of my free will and while I am in sound health and in good
                            understanding and in witness thereof I
                            have put my signature hereunder in the presence of two witnesses.
                        </div>
                        <div class="bluetext" id="bt1">
                            <i><b>Tip</b>: Write the date, month, year when you are signing the will along with both
                                witnesses.
                            </i>
                        </div>
                    </div>

                    <div class="fcontainer2">
                        <div class="f2item1">
                            <b>Date:</b> <span class="greytext"> dd/mm/yy </span>
                        </div>
                        <div class="f2item2 greytext">
                            <b>Place:</b>
                        </div>
                    </div>

                    <div class="fcontainer3">
                        <div class="f3item1 greytext">
                            Signed by the within named
                        </div>
                        <div class="f3item2 greentext">
                            <%=details.name%>
                        </div>
                    </div>

                    <div class="fcontainer4">
                        <div class="f4item1 greentext">
                            Signature of <%=details.name%>
                        </div>
                        <div class="f4item2 greytext">
                            Tip: Make sure that you and both witnesses will sign the will at
                            the same time, in front of each other.
                        </div>
                    </div>

                    <div class="fcontainer5">
                        <div class="f5item1 bluetext">
                            Tip: Make sure your witnesses are not the beneficiaries (receiving any assets) in your will.
                        </div>
                        <div class="f5item2">
                            Signed in the presence of witnesses, all of whom have put their signatures here under.
                        </div>
                    </div>



                    <!-- Existing HTML code -->

                    <!-- ... -->

                    <!-- Add the missing HTML markup for the boxes below the witness section -->
                    <div class="fcontainer10">

                        <div class="witness-container">
                            <div class="witness-box">
                                <!-- Witness 1 Box -->
                            </div>
                            <div class="witness-details">
                                <h3>Witness 1</h3>
                                <h3>Name:</h3>
                                <p>
                                <div class="f10item1">
                                    <!-- Content here -->
                                </div>
                                </p>
                                <h3>Aadhaar/Passport Number:</h3>
                                <p>
                                <div class="f10item1">
                                    <!-- Content here -->
                                </div>
                                </p>
                            </div>
                        </div>
                        <div class="witness-container">
                            <div class="witness-box">
                                <!-- Witness 2 Box -->
                            </div>
                            <div class="witness-details">
                                <h3>Witness 2</h3>
                                <h3>Name:</h3>
                                <p>
                                <div class="f10item1">
                                    <!-- Content here -->
                                </div>
                                </p>

                                <h3>Aadhaar/Passport Number:</h3>
                                <p>
                                <div class="f10item1">
                                    <!-- Content here -->
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="fcontainer8">
                        <div class="f8item1">
                            <img src="<%=details.qr%>" alt="">
                        </div>
                        <div class="f8item2 greytext">
                            Tip: Once all 3 signatures are done, scan this QR code. You will be taken to a page on
                            Willwali.com
                            where you can take a PHOTO of this page only and upload it into your account. Once uploaded,
                            you
                            will have a digital copy of this page in your user dashboard.
                        </div>
                    </div>


                </div>

            </div>

        </div>


        <footer>

            <div class="left">Will of <%=details.name%></div>
            
            <div class="right"><%=details.id%></div>

        </footer>
        <!-- <script>
            // Example: Print the file when the page finishes loading
            document.addEventListener('DOMContentLoaded', function () { window.print(); });
        //    $(document).ready(function() {
        //         window.print();
        //     });
        </script> -->

</body>

</html>
